@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  nav, .no-print {
    display: none !important;
  }
  main .py-12 {
    padding: 0 !important;
  }
  body {
    background: white !important;
  }
}
